body{
    font-family: Arial, sans-serif;
    padding: 0px;
    margin-top: 30px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.right-container{
    border-radius: 2px; 
}

.log-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 5px;
    padding-bottom: 25px;
}
.input-field{
    width:255px;
    margin-bottom: 5px;
    border-radius:4px;
    border-width:1px;
    border-style: solid;
    border-color: rgb(173, 170, 170);
    padding:10px 6px;
    background-color: rgb(250, 250, 250);
    font-size: 12px;
}
.input-field:focus{
    outline: none;
    border: 1px solid rgb(107, 105, 105);
}

.login-button{
    width:265px;
    background-color: rgb(36, 165, 216);
    border:none;
    height:32px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-top: 8px;
}
.login-container{
    background-color: white;
    padding-left: 12px;
    display: inline-block;
    justify-content: center;
    align-items: center; 
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 221, 221);
    border-radius: 2px;
    padding-right: 12px;
    padding-top: 25px;  
}
.logo{
    width:255px;
    height:105px;
    overflow: hidden;
    margin-bottom: 20px;
    
    bottom:20px;
    position: relative;
}
.img1{
    position: absolute;
    left: 45px;
}

.or-container{
    display: flex;
    color: rgb(60, 59, 59);
    font-size: 12px;
    margin-top: 20px;
}
.fb-container{
    display: flex;
    color: rgb(10, 110, 211);
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
}
.fb-container:hover{
    color: rgb(14, 14, 97);
}

.fb-container .fb-logo{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.fb-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    outline:none;
    text-decoration: none;
    color: rgb(10, 110, 211);
}

.forgot-password{
    font-size: 15px;
    margin-top: 20px;
    color: rgb(14, 14, 97);
    cursor: pointer;
}
.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 55px;
    width:310px;
    background-color: white;
    margin-top: 10px;
    border:1px solid rgb(235, 232, 232);
    border-radius: 2px;
}
.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:310px;
    flex-direction: column;
    margin-top: 17px;
    font-size: 14px;
}
.google-img,
.microsoft-img{
    margin-right: 3px;
    height:38px;
    width:120px;
    margin-top: 14px;
    cursor: pointer;
}
.footer-bar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 17px;
    white-space: nowrap;
    outline: none;
}

.footer-bar a{
    color: gray;
    font-size: 12px;
    text-decoration: none;
}
.footer-bar a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap:13px;
    white-space: nowrap;
    outline: none;
    color:gray;
    font-size:12px;
    margin-top: 20px;
    margin-bottom: 70px;
}
.languages{
    outline: none;
    border: none;
    color: gray;
    width:70px;
    cursor: pointer;
}
.phone{
    display: flex;
    position:relative;  
}
.animation img:nth-child(1){
    animation-delay: 0s;
}
.animation img:nth-child(2){
    animation-delay: 4s;
}
.animation img:nth-child(3){
    animation-delay: 8s;
}
.animation img:nth-child(4){
    animation-delay: 12s;
}
.animation img{
    position:absolute;
    top:30px;
    right:60px; 
    opacity: 0;
    animation: FadeOut 16s infinite;
}

@keyframes FadeOut{
    0%, 25%{
        opacity: 1;
    }
    35%, 100%{
        opacity: 0;
    }
}

